NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
DATABASE_URL=postgresql://user:password@localhost:5432/prreviewer
NEXT_PUBLIC_API_URL=http://localhost:3001
